{% extends 'base2.html' %}

{% block content %}

        {% if user.username %}



        {% else %}


            <div class="row ">
                {% load static %}
                <div class="col-md-5 col-md-offset-0"><img src="{% static 'assets/img/1.png' %}">
                    <img src="{% static 'assets/img/2.png' %}"></div>
                <div class="col-md-7">
                    <h2>System Overview</h2>
                    <p class="text-info">The heart is a most significant muscular organ in humans,
                        which pumps blood through the blood vessels of the circulatory system.
                        Human life is dependent on the proper functioning of heart.
                        Improper functioning of heart will influence other parts of human body like brain, kidney etc.
                        If the blood circulation in body is inefficient, it affects both heart and brain.
                        Generally blood arrest in heart is called as attack and blood arrest in brain is called as
                        stroke.
                        Human life is absolutely reliant on the efficient working of the heart and brain.
                        A Heart disease is caused due to narrowing or blockage of coronary arteries.
                        This is caused by the deposition of fat on the inner walls of the arteries and also due to build
                        up cholesterol.
                        Heart diseases can be caused due to number of factors such as high blood pressure,
                        high cholesterol, unhealthy diet, lack of physical activity and obesity.</p>
                    <h3>Click to Login</h3>

                    <a href="{% url 'login' %}" class="btn btn-primary" role="button">
                        LOGIN
                    </a>
                </div>
            </div>

        {% endif %}
{% endblock %}
